* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
    background: #1A0B2E;
}

.container {
    border: 3px solid red;
    padding: 0 200px;
}

.navbar {
    padding: 30px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700px;
}

.logo .tech {
    color: white;
}

.logo .wave {
    background: linear-gradient(135deg,#ff4fd8,#7cffb2);-webkit-background-clip: text;
    color: transparent;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight:400;
}

.subscribe-btn {
    padding: 12px 16px;
    border-radius: 999px;
    background: linear-gradient(135deg,#ff4fd8,#7cffb2);
    color:#fff;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    align-items: center;
}

.subscribe-btn:hover {
    background-color:;
}

.hamburger {
    display: none;
    width: 24px;
    height: 24px;
}

/* mobile */
@media (max-width:768px) {
    .menu,
    .subscribe-btn {
        display: none;
    }

    .hamburger {
        display: block;
        color: #fff;
    }
    
}


.hero {
    /* parent reference */
    position: relative; 
    /* important for img inside */
    overflow: hidden;
    /* padding: 120px 0 80px; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    /* top:0 right:0 bottom:0 left:0 */
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* behind content */
    z-index: -1;
    background: #412567;
}


.hero-content {
    /* background: #2A186C; */
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

/* circle + new badge */
.circle-wrap {
    position: relative;
    width:fit-content;
    margin: 0 auto 16px;
}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 120px;
}

.circle-img {
    width: 350px;
    height: auto;
    display: block;
}

.new-badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 999px;
}

.hero h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.hero p {
    font-size: 16px;
    color: #fff;
    max-width: 550px;
    margin: 0 auto 20px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    padding: 10px 18px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.spotify {
    background: linear-gradient(135deg,#ff4fd8,#7cffb2);
    border: none;
    outline: none;
    align-items: center;
}

.subscribe {
    background: #2A186C;
    border: 1px solid #00FF88;
    color: #00FF88;
    gap: 8px;
    outline: none;
    align-items: center;
}

/* about section */

#about {
    background: #1A0B2E;
}
.about {
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-text {
    margin: 0 auto 10px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.about-text-2 {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 30px;
}

/* stats */
.stats {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
}

.stat h3 {
    font-size: 48px;
    font-weight: black;
    color:#00FF88;
    padding-bottom: 16px;
}
.stat span {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width:768px) {
    .stats {
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
}


/* WHY SECTION */

#why {
    background: #230E3D;
}

.why {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.why h2 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

/* grid */

.why-grid {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.why-card {
    background: #351165;
    border-radius: 40px;
    padding: 40px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.why-card img {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.why-card h4 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.why-card p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}


/* responsive */

@media (max-width:992px ) {
    .why-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:576px ) {
    .why-grid {
        grid-template-columns: repeat(1fr);
    }
}

/* host section */
.host {
    background: #1A0B2E;
}

.host h1 {
    text-align: center;
    padding-top: 120px;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.host-wrapper {
    border: 2px solid blue;
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
}

.host-img {
    width: 200px;
    height: 200px;
}

.host-content h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #fff;
}

.host-content P {
    font-size: 16PX;
    line-height: 24PX;
    margin-bottom: 16px;
    color: #fff;
}


